
/* Schedule Styling */

#schedule {
    padding: 0px 0px 140px 0px;
    background-image: url();
    background-color: slategrey;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#schedule table {
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
}

#schedule table tbody {
    border-top: 1px solid #fff;
}

#schedule table tbody tr {
    border-bottom: 1px solid #fff;
}

#schedule table tbody tr td {
    border-right: 1px solid #fff;
    height: 100px;
}

#schedule table tr td {
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.25px;
}



#schedule .filters {
    margin-bottom: 40px;
}

#schedule .filters ul {
    padding: 0;
    text-align: center;
}

#schedule .filters ul li {
    list-style: none;
    display: inline;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;

}

/* Features Styling */

#features {
    margin-bottom: 80px;
}

.feature-item {
    display: inline-block;
    margin-bottom: 60px;
}

.feature-item .left-icon img {
    float: left;
    margin-right: 30px;
}

.feature-item .right-content {
    display: inline;
}

.feature-item .right-content h4 {
    margin-top: 0px;
    margin-bottom: 7px;
    letter-spacing: 0.25px;
    color: #232d39;
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
}

.feature-item .right-content a.text-button {
    margin-top: 7px;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    color: #ed563b;
    font-weight: 500;
}


.section-heading {
    text-align: center;

    margin-bottom: 80px;
}

.section-heading h2 {
    font-size: 28px;
    font-weight: 800;
    color: #232d39;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-heading h2 em {
    font-style: normal;
    color: #ed563b;
}

#call-to-action {
    padding: 120px 0px;
    background-image: url();
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


#call-to-action {
    padding: 120px 0px;
    background-image: url(./assets/contact-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  
  .cta-content h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .cta-content h2 em {
    font-style: normal;
    color: #ed563b;
  }
  
  .cta-content p {
    font-size: 16px;
    color: #ffffff;
    margin: 15px 0px 25px 0px;
  }


  /* contact section */

  #contact-us {
    margin-top: 140px;
  }
  
  #contact-us .container-fluid .col-lg-6 {
    padding: 0px;
  }
  
  #contact-us .contact-form {
    padding: 80px;
    background-image: url(./assets/contact-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #contact-us .contact-form #contact {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    color: #7a7a7a;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    height: 40px;
    outline: none;
    line-height: 40px;
    padding: 0px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 30px;
  }
  
  .contact-form textarea {
    height: 150px;
    resize: none;
  }
  
  .contact-form ::-webkit-input-placeholder {
    color: #7a7a7a;
  }
  
  .contact-form :-ms-input-placeholder {
    color: #7a7a7a;
  }
  
  .contact-form ::placeholder {
    color: #7a7a7a;
  }
  
  .contact-form button {
    display: inline-block;
    font-size: 13px;
    padding: 11px 17px;
    background-color: #ed563b;
    color: #fff;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
    margin-top: -8px;
  }
  
  .contact-form button:hover {
    background-color: #f9735b;
  }


  /* Footer section */

  footer {
    text-align: center;
    padding: 30px 0px;
  }
  
  footer p {
    color: #232d39;
    font-size: 13px;
  }
  
  footer p a {
    cursor: pointer;
    color: #ed563b;
  }
  
  footer p a:hover {
    color: #ed563b;
  }

/* Responsive */

  @media (max-width: 992px) {

    .main-banner .caption h2 {
      font-size: 64px;
    }
    #features {
      margin-bottom: 110px;
    }
    #features .feature-item {
      margin-bottom: 30px;
    }
    #our-classes .tabs-content {
      margin-left: 0px;
      margin-top: 30px;
    }
    .trainer-item {
      margin-bottom: 30px;
    }
    #contact-us #map {
      margin-bottom: -7px;
    }
    #contact-us .contact-form {
      padding: 30px;
    }
    #contact-us .contact-form #contact {
      padding: 30px;
    }
  
  }
  
  @media (max-width: 450px) {
    .feature-item .right-content a.text-button {
      margin-left: 130px;
    }
  }
  



  /*---------------------
  Get Touch Section
-----------------------*/

.gettouch-section {
	background: #0a0a0a;
	padding: 30px 0 15px;
}

.gt-text {
	overflow: hidden;
	margin-bottom: 30px;
}

.gt-text i {
	font-size: 30px;
	color: #ffffff;
	display: inline-block;
	height: 65px;
	width: 65px;
	background: #f36100;
	border-radius: 50%;
	line-height: 65px;
	text-align: center;

	margin-right: 20px;
}

.gt-text p {
	overflow: hidden;
	color: #ffffff;
	margin-bottom: 0;
	padding-top: 10px;
}

.gt-text ul {
	overflow: hidden;
	padding-top: 20px;
}

.gt-text ul li {
	list-style: none;
	font-size: 14px;
	color: #ffffff;
	margin-right: 25px;
	display: inline-block;
	position: relative;
}

.gt-text ul li:after {
	position: absolute;
	right: -18px;
	top: 0;
	content: "|";
	color: #545454;
}

.gt-text ul li:last-child {
	margin-right: 0;
}

.gt-text ul li:last-child:after {
	display: none;
}

.gt-text.email p {
	padding-top: 20px;
}

/*---------------------
  Footer
-----------------------*/

.footer-section {
	background: #000000;
	padding-top: 50px;
}

.fs-about {
	margin-bottom: 30px;
}

.fs-about .fa-logo {
	margin-bottom: 30px;
}

.fs-about .fa-logo a {
	display: inline-block;
}

.fs-about p {
	line-height: 26px;
	color: #c4c4c4;
}

.fs-about .fa-social a {
	font-size: 14px;
	color: #c4c4c4;
	margin-right: 10px;
}

.fs-about .fa-social a:last-child {
	margin-right: 0;
}

.fs-widget {
	margin-bottom: 30px;
}

.fs-widget h4 {
	color: #ffffff;
	font-weight: 600;
	margin-bottom: 18px;
}

.fs-widget ul li {
	list-style: none;
}

.fs-widget ul li a {
	font-size: 14px;
	color: #c4c4c4;
	line-height: 30px;
}

.fs-widget .fw-recent {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #1a1a1a;
}

.fs-widget .fw-recent:last-child {
	padding-bottom: 0;
	border: none;
}

.fs-widget .fw-recent h6 {
	margin-bottom: 6px;
}

.fs-widget .fw-recent h6 a {
	color: #c4c4c4;
	letter-spacing: 0.5px;
}

.fs-widget .fw-recent ul li {
	font-size: 12px;
	color: #4d4d4d;
	display: inline-block;
	margin-right: 25px;
	position: relative;
}

.fs-widget .fw-recent ul li:last-child:after {
	display: none;
}

.fs-widget .fw-recent ul li:after {
	position: absolute;
	right: -16px;
	top: 0;
	content: "|";
}

.copyright-text {
	font-size: 14px;
	color: #c4c4c4;
	letter-spacing: 0.5px;
	border-top: 1px solid #1a1a1a;
	padding: 25px 0;
	margin-top: 15px;
}

.copyright-text a,
.copyright-text i {
	color: #f36100;
}




body {
  background-color: #f2f2f2;
  color: #343a40;
  font-family: 'Roboto', sans-serif;
}
.table-wrapper {
  margin: 30px auto;
  max-width: 900px;
}
.table {
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #dee2e6;
}
.table thead {
  background: linear-gradient(to right, #007bff, #0056b3);
  color: #ffffff;
}
.table thead th {
  font-weight: bold;
  text-align: center;
  border-bottom: 3px solid #004494;
}
.table tbody tr {
  transition: background-color 0.3s ease;
}
.table tbody tr:hover {
  background-color: #e2e6ea;
  cursor: pointer;
}
.table tbody td {
  vertical-align: middle;
  text-align: center;
}
.table th, .table td {
  padding: 15px;
}
h2 {
  color: #030303;
  margin-bottom: 30px;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
  .table-responsive {
      border: 0;
  }
  .table {
      border: 0;
  }
}


/* new */


.pricing-section {
	background: #151515;
}

.pricing-section .section-title {
	margin-bottom: 56px;
}

.ps-item {
	text-align: center;
	padding: 40px 30px 52px;
	border: 1px solid #464646;
	-webkit-transform: skewY(-4deg);
	-ms-transform: skewY(-4deg);
	transform: skewY(-4deg);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	margin-bottom: 30px;
	position: relative;
}

.ps-item:hover {
	background: #ffffff;
	border-color: #ffffff;
}

.ps-item:hover h3 {
	color: #111111;
}

.ps-item:hover .pi-price span {
	color: #444444;
}

.ps-item:hover ul li {
	color: #111111;
	font-weight: 600;
}

.ps-item:hover .primary-btn.pricing-btn {
	background: #f36100;
}

.ps-item:hover .thumb-icon {
	opacity: 1;
	visibility: visible;
}

.ps-item h3 {
	font-size: 28px;
	color: #ffffff;
	font-weight: 600;
	margin-bottom: 16px;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
}

.ps-item .pi-price {
	margin-bottom: 30px;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
}

.ps-item .pi-price h2 {
	font-size: 60px;
	color: #f36100;
	font-weight: 600;
}

.ps-item .pi-price span {
	color: #c4c4c4;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.ps-item ul {
	margin-bottom: 40px;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
}

.ps-item ul li {
	font-size: 14px;
	color: #c4c4c4;
	line-height: 32px;
	list-style: none;
}

.ps-item .primary-btn.pricing-btn {
	display: block;
	background: #333333;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
}

.ps-item .thumb-icon {
	font-size: 48px;
	color: #f36100;
	position: absolute;
	left: 50px;
	bottom: 120px;
	-webkit-transform: skewY(4deg);
	-ms-transform: skewY(4deg);
	transform: skewY(4deg);
	opacity: 0;
	visibility: hidden;
}




